.box-align{
    display:-webkit-box;
    -webkit-box-align:center;
}
.color-9b{color: #9B9B9B;}
.color-6f{color: #6f6f6f;}
.user-home-header {
    position: relative;
    width: 100%;
    padding-top: 60%;
    background-image: url(../img/home/user-bg.png);
    background-position: center;
    background-size: cover;
}
.user-home-header .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.user-home-header .user-name {

}
.user-home-header .user-level {
    display: inline-block;
    padding: 0 8px;
    margin-left: 5px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #FFC24A;
    background: #FFF1E3;
    border-radius: 4px;
    vertical-align: middle;
}
.user-home-header .join-day {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: -webkit-box;
    -webkit-box-align: center;
}
.user-home-add{
    position: absolute;
    right: 30%;
    bottom: -25px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);
    background-image: linear-gradient(180deg,#ffce4c 0%,#ffab46 100%);
}
.user-home-mail{
    position: absolute;
    right: 8%;
    bottom: -25px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10);
    background-image: linear-gradient(180deg,#ff985c 0%,#ff528d 100%);
}

/*名片*/
.user-home-panel .user-home-Info{  box-shadow: 0 5px 10px 0 rgba(222,221,228,0.7);}
.user-home-panel .user-home-info-l{
    margin: 30px 0;
    padding: 0 20px;
    border-right: 1px solid #edecf3;
}
.user-home-panel .user-home-Info-r{
    position: relative;
    padding: 20px 10px 20px 10px;
}
.user-home-panel .user-home-Info-r>li{
    display:-webkit-box;
    -webkit-box-align:center;
    padding: 3px 0;
    line-height: 1.4;
}
.user-home-panel .user-home-Info-r .autonym{
    -webkit-box-flex: 0 !important;
   line-height: 10px;
   background-color: #4a90e2;
}
.user-home-panel .user-home-Info-r .autonym h6{
    padding: 0 2px;
    border: 1px solid #4a90e2;
    font-size: 8px;
    color: #4a90e2;
    background-color: #fff;
}
.user-home-panel .user-home-Info-r>li div,.contacts>li>h4{-webkit-box-flex: 1;}
/*二维码*/
.user-home-panel .user-home-Info-r .code {background-color: #fff;}
.user-home-panel .user-home-Info-r .code-img {
    width: 120px;
    height: 120px;
}
/*人脉*/
.user-home-panel .user-home-Info-r .contacts{display: -webkit-box;}
.user-home-panel .user-home-Info-r .contacts .ui-avatar-s{margin: auto}
.user-home-panel .user-home-Info-r .contacts>li{max-width:22%;margin-right: 10px;}
/*项目分类*/
.user-home-panel .user-home-Info-r .item{display: -webkit-box;}
.user-home-panel .user-home-Info-r .item>li{
    width: 47%;
    height: 45px;
    margin-right: 5px;
    border: 1px solid #edecf3;
    border-radius: 8px;
}
.user-home-panel .user-home-Info-r .item .main-nav-icon {
    width: 25px;
    height: 25px;
    background-size: 1000%;
    background-size: calc(1000%);
    background-image: url(../img/home/main-nav-icon.png);
    background-repeat: no-repeat;
    box-sizing: content-box;
}
