<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="wap-font-scale" content="no" />
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>空店</title>
		<link rel="stylesheet" :href="../../css/frozen.css">
		<link rel="stylesheet" :href="../../css/kong-ui.css"/>
		<link rel="stylesheet" type="text/css" href="../plug/swiper-3.3.0.min.css">
		<link rel="stylesheet" href="../../css/home/home.css"/>
		<link rel="stylesheet" href="../../css/home/userHome.css"/>
		<script src="../lib/jquery-2.1.4.min.js"></script>
	</head>
	<body >
	<!--start Top-->
	<div class="ui-list ui-justify-flex ui-whitespace padding-t-10 padding-b-10 ui-border-b" id="Top">
		<div class="home-top box-align">
			<div class="ui-avatar">
				<span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
			</div>
			<div class="home-top-l line-h-12">
				<!--time-->
				<div class="home-top-time box-align ui-border-b">
					<div class="date">17</div>
					<div class="month margin-l-10">
						<div>10</div>
						<div>星期一</div>
					</div>
				</div>
				<!--user-->
				<div class="rlt box-align line-h-nor font14 color-9b">
					<div>您好，金智贤</div>
					<div class="user-vip text-center">lv1</div>
				</div>
			</div>
		</div>
		<ul class="box-align home-top-r color-9b">
			<li class="tab-active margin-r-10">首页</li>
			<li class="margin-l-10">名片</li>
		</ul>
	</div>
	<!--end Top-->
	<!--首页-->
	<div class="home-tab k-wrap">
		<!--user-->
		<div class="user ui-whitespace ui-justify-flex box-align">
			<ul class="home-data display-box text-center line-h-14">
				<li class="margin-r-15">
					<h4 class="font18">222</h4>
					<div class="font12 color-9b">一度人脉</div>
				</li>
				<li class="margin-l-15">
					<h4 class="font18">222,087</h4>
					<div class="font12 color-9b">信息资产</div>
				</li>
			</ul>
			<div class="asset-btn" data-href="">邀请好友</div>
		</div>
		<!--项目-->
		<div class="item-card margin-b-10">
			<ul class="ui-row bg-white">
				<li class="ui-col ui-col-25" data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: 12px 0px;"></div>
						<div class="font12 line-h-nor">社区空店</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -77px 0px;"></div>
						<div class="font12 line-h-nor">保险</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -170px 0px;"></div>
						<div class="font12 line-h-nor">商城</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -260px 0px;"></div>
						<div class="font12 line-h-nor">东方小金</div>
					</div>
				</li>
			</ul>
			<ul class="ui-row bg-white">
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: 12px -55px;"></div>
						<div class="font12 line-h-nor">购买记录</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -77px -55px;"></div>
						<div class="font12 line-h-nor">信息资产</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -170px -55px;"></div>
						<div class="font12 line-h-nor">钱包</div>
					</div>
				</li>
				<li class="ui-col ui-col-25 " data-href="">
					<div class="k-box-center">
						<div class="main-nav-icon" style="background-position: -260px -55px;"></div>
						<div class="font12 line-h-nor">基站管理</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="kongdian-img margin-b-10" style="background-image: url(../img/home/home-banner.png);"></div>
		<!--空店专卖-->
		<ul class="ui-list k-list-link ">
			<li  data-href="">
				<div class="item-card-lable"></div>
				<div class="ui-list-info"><h4>空店专卖</h4></div>
				<span class="font12 color-9b">更多产品</span>
			</li>
		</ul>
		<div class="swiper-container swiper-shop-recoment padding-b-15 bg-white">
			<div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
				<div class="swiper-slide kong-product  line-h-nor" style="width: 40%;">
					<a href="#">
						<img src="../img/home/pro-01.png" width="100%" height="100%"/>
						<h4 class="font12">富硒无籽罗汉果</h4>
						<div class="font12 color-9b">十八罗汉</div>
					</a>
				</div>
				<div class="swiper-slide kong-product  line-h-nor" style="width: 40%;">
					<a href="#">
						<img src="../img/home/pro-02.png" width="100%" height="100%"/>
						<h4 class="font12">梧州六堡茶</h4>
						<div class="font12 color-9b">陈皮小沱茶</div>
					</a>
				</div>
				<div class="swiper-slide kong-product line-h-nor" style="width: 40%;">
					<a href="#">
						<img src="../img/home/pro-03.png" width="100%" height="100%"/>
						<h4 class="font12">梧州六堡茶</h4>
						<div class="font12 color-9b">大饼茶</div>
					</a>
				</div>
				<div class="swiper-slide kong-product  line-h-nor" style="width: 40%;">
					<a href="#">
						<img src="../img/home/pro-04.png" width="100%" height="100%"/>
						<h4 class="font12">安化老黑茶</h4>
						<div class="font12 color-9b">布袋散装</div>
					</a>
				</div>
			</div>
		</div>
		<!--最近购买-->
		<style>
			.map-bg{
				width: 100%;
				background-size: 50%;
				background-position: right 5px;
				background-repeat: no-repeat;
				background-image: url("../img/home/map-bg.png");
			}
		</style>
		<ul class="ui-whitespace margin-t-10 ">
			<li class="display-box bg-white map-bg"  data-href="">
				<div class="ui-list-img ui-list-img-v margin-l-10">
					<span style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
				</div>
				<div class="ui-list-info padding-b-5">
					<h4 class="font14">莱茵湖畔社区店</h4>
					<div class="lately-buy-btn font12">近期购买过</div>
					<div class="font12 ui-txt-warning">1.6km</div>
				</div>
			</li>
		</ul>
		<!--附近社区店-->
		<ul class="ui-list k-list-link margin-t-10 ui-border-b">
			<li data-href="">
				<div class="item-card-lable"></div>
				<div class="ui-list-info"><h4>附近社区空店</h4></div>
				<span class="font12 color-9b">更多社区店</span>
			</li>
		</ul>
		<div class="content bg-white" id="comList">

		</div>
	</div>
	<!--名片-->
	<div class="home-tab" style="display: none">
		 <!--user-->
		<div id="carte-de-visite-list">
			<div class="user carte-de-visite ui-whitespace ui-justify-flex ">
				<ul class="home-data box-align text-center line-h-14">
					<li class="margin-r-10 font20">
						金智贤
					</li>
					<li class="post-btn line-h-nor font12">
						颜值担当
					</li>
				</ul>
				<div class="ui-avatar-s phone-btn" data-href="tel:183">
					<span class="k-icon k-icon-dianhuatianchong font20"></span>
				</div>
			</div>
			<ul class="carte-de-visite-list bg-white ui-border-b">
				<li class="rlt">
					<i class="k-icon-yuanquan1 dian "></i>
					<h4 class="margin-l-10 margin-r-15 color-9b">电话:</h4>
					<div class="font14 color-6f"></div>
					<div class="ui-avatar-s redact-btn">
						<span class="font12">编辑</span>
					</div>
				</li>
				<li>
					<i class="k-icon-yuanquan1 dian "></i>
					<h4 class="margin-l-10 margin-r-15 color-9b">邮箱:</h4>
					<div class="font14 color-6f"></div>
				</li>
				<li>
					<i class="k-icon-yuanquan1 dian "></i>
					<h4 class="margin-l-10 margin-r-15 color-9b">公司:</h4>
					<div class="font14 color-6f">广西空店资产管理有限公司</div>
				</li>
				<li style="-webkit-box-align: initial;">
					<i class="k-icon-yuanquan1 dian "></i>
					<h4 class="margin-l-10 margin-r-15 color-9b">地址:</h4>
					<div class="font14 color-6f add">广西南宁市青秀区金湖路63号金源CBD现代城801室</div>
				</li>
			</ul>
			<div class="code k-box-center">
				<div class="code-img margin-t-10">
					<img src="/Public/uploads/user_business_card/2016_08_038f86064b9c0e8260288f7704258536e9.jpg" width="100%" height="100%">
				</div>
				<p class="padding-t-15 font14 color-9b">扫描或长按识别二维码保存名片</p>
			</div>
		</div>
		<!--编辑-->
		<div class="redact" style="display: none">
			<form id="card-form" method="post">
				<ul class="ui-list save-book-list padding-b-20">
					<li>
						<label class="ui-txt-muted">姓名</label>
						<div class="ui-list-info ui-txt-info ui-border-t">
							<input type="tel" name="userName" placeholder="输入姓名" value="" >
						</div>
					</li>
					<li>
						<label class="ui-txt-muted">职位</label>
						<div class="ui-list-info ui-txt-info ui-border-t">
							<input type="tel" name="userPost" placeholder="输入职位" value="" >
						</div>
					</li>
					<li>
						<label class="ui-txt-muted">电话</label>
						<div class="ui-list-info ui-txt-info ui-border-t">
							<input type="tel" name="userPhone" placeholder="13800138000" value="" >
						</div>
					</li>
					<li>
						<label class="ui-txt-muted">邮箱</label>
						<div class="ui-list-info ui-txt-info ui-border-t">
							<input type="email" name="userEmail" placeholder="输入邮箱" value="" >
						</div>
					</li>
					<li>
						<label class="ui-txt-muted">公司</label>
						<div class="ui-list-info ui-txt-info ui-border-t line-h-14">
							<input type="text" name="userFirm" maxlength="30" placeholder="输入公司名" value="" >
						</div>
					</li>
					<li class="ui-border-b">
						<label class="ui-txt-muted">地址</label>
						<div class="ui-list-info ui-txt-info ui-border-t font14 line-h-14">
							<textarea name="userSite" maxlength="100" placeholder="输入办公地址"></textarea>
						</div>
					</li>
				</ul>
			</form>
			<div class="save-btn k-box-center k-wrap  bg-white">
				<div class="save-btn-yes margin-b-15 font14">保存编辑</div>
				<div class="save-btn-no font14">取消编辑</div>
			</div>
		</div>
	 </div>
	</body>
	<script src="../lib/layer.js"></script>
	<script src="../lib/swiper-3.3.0.min.js"></script>
	
</html>