<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
	    <meta name="author" content="ISUX"/>
	    <meta name="format-detection" content="telephone=no"/>
	    <meta name="viewport" content="width=device-width, user-scalable=no"/>
	    <meta name="apple-mobile-web-app-capable" content="yes"/>
	    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	    <title>我</title>
		<link rel="stylesheet" href="../css/frozen.css">
		<link rel="stylesheet" href="../css/kong-ui.css"/>
		<link rel="stylesheet" href="../css/userHome.css"/>
		<script src="../lib/jquery-2.1.4.min.js"></script>
		<style>
			.ui-avatar-lg-s{
				width: 80px;
				height: 80px;
			}
		</style>
	</head>
	<body>
		<div class="k-wrap">
			<header class="user-home-header rlt">
				<div class="content k-box-center">
					<div class="ui-avatar-lg ui-avatar-lg-s" style="margin-top: -20px;">
						<span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
					</div>
					<div class="user-name box-align margin-t-10 font18 ui-txt-white">
						<div>全智贤</div>
						<div class="user-level">银卡VIP</div>
					</div>
					<div class="join-day ui-txt-white">
						<span class="k-icon k-icon-rili"></span>
						<p class="margin-l-5 font12">已加入空店90天</p>
					</div>
				</div>
				<div class="ui-avatar user-home-add"><i class="k-icon-jiaguanzhu k-box-center font20 ui-txt-white"></i></div>
				<div class="ui-avatar user-home-mail"><i class="k-icon-xiaoxi k-box-center font20 ui-txt-white"></i></div>
			</header>
			<div class="user-home-panel user-home-info ui-whitespace margin-t-40">
				<!--module1-->
				<div class="user-home-Info ui-justify-flex bg-white margin-b-15">
					<div class="user-home-info-l box-align">
						<div class="">
							<i class="k-icon k-icon-iconmignpian  ui-txt-warning"></i>
						</div>
					</div>
					<ul class="user-home-Info-r ui-list-info">
						<li class="">
							<h4 class="margin-l-15  margin-r-15 color-9b">姓名:</h4>
							<div class="box-align font14 color-6f">
								浪哥
								<div class="autonym box-align margin-l-5">
										<i class="k-icon k-icon-yonghu font10 line-h-nor ui-txt-white"></i>
										<h6>已实名</h6>
								</div>
							</div>
						</li>
						<li class="">
							<h4 class="margin-l-15  margin-r-15 color-9b">电话:</h4>
							<div class="font14 color-6f">18378845622</div>
						</li>
						<li>
							<h4 class="margin-l-15  margin-r-15 color-9b">邮箱:</h4>
							<div class="font14 color-6f">456465465@qq.com</div>
						</li>
						<li>
							<h4 class="margin-l-15  margin-r-15 color-9b">公司:</h4>
							<div class="font14 color-6f">广西空店资产管理有限公司</div>
						</li>
						<li style="-webkit-box-align: initial;">
							<h4 class="margin-l-15 margin-r-15 color-9b">地址:</h4>
							<div class="font14 color-6f address">广西南宁市青秀区金湖路63号金源CBD现代城801室</div>
						</li>
						<li style="-webkit-box-align: initial;">
							<h4 class=" margin-r-15 color-9b">二维码:</h4>
							<div class="code ">
								<div class="code-img">
									<img src="http://placeholder.qiniudn.com/190x284" width="100%" height="100%">
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!--module2-->
				<div class="user-home-Info ui-justify-flex bg-white margin-b-15">
					<div class="user-home-info-l box-align">
						<div class="">
							<i class="k-icon k-icon-iconwodexiashu  ui-txt-warning"></i>
						</div>
					</div>
					<div class="user-home-Info-r ui-list-info">
						<h4 class="margin-l-5 margin-b-5 font12">29个一度人脉</h4>
						<ul class="contacts">
							<li class="text-center ">
								<div class="ui-avatar-s">
									<span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
								</div>
								<h4 class="margin-t-5 font12 ui-txt-info line-h-nor">全智贤</h4>
							</li>
							<li class="text-center ">
								<div class="ui-avatar-s">
									<span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
								</div>
								<h4 class="margin-t-5 font12 ui-txt-info line-h-nor">智贤</h4>
							</li>
							<li class="text-center ">
								<div class="ui-avatar-s">
									<span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
								</div>
								<h4 class="margin-t-5 font12 ui-txt-info line-h-nor">全智贤</h4>
							</li>
							<li class="text-center ">
								<div class="ui-avatar-s">
									<span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span>
								</div>
								<h4 class="margin-t-5 font12 ui-txt-info line-h-nor">全智贤</h4>
							</li>
						</ul>
					</div>
				</div>
				<!--module3-->
				<div class="user-home-Info ui-justify-flex bg-white margin-b-15">
					<div class="user-home-info-l box-align">
						<div class="">
							<i class="k-icon k-icon-fenlei1  ui-txt-warning"></i>
						</div>
					</div>
					<div class="user-home-Info-r ui-list-info">
						<ul class="item margin-b-5 font12">
							<li class="k-box-center">
								<div class="box-align">
									<div class="main-nav-icon margin-r-5" style="background-position: 5px 0;"></div>
									<div>社区空店</div>
								</div>
							</li>
							<li class="k-box-center">
								<div class="box-align">
									<div class="main-nav-icon margin-r-5" style="background-position: -150px 0;"></div>
									<div>商城</div>
								</div>
							</li>
						</ul>
						<ul class="item font12">
							<li class="k-box-center">
								<div class="box-align">
									<div class="main-nav-icon margin-r-5" style="background-position: -70px 0;"></div>
									<div>保险</div>
								</div>
							</li>
							<li class="k-box-center">
								<div class="box-align">
									<div class="main-nav-icon margin-r-5" style="background-position: -226px 0;"></div>
									<div>东方小金</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--end class k-wrap-->
		<script src="../lib/swiper-3.3.1.jquery.min.js"></script>
		<script src="../lib/fastclick.js"></script>
		<script>
			//解决移动端点击事件延迟问题，有效防止点透的情况
			FastClick.attach(document.body);
		</script>
		  
	</body>

</html>